*{
  font-family:'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  --ourRed: #F05454;
  --ourNavy: #30475E;
  --ourSilver: #F5F5F5;
  color: var(--ourSilver);
}

:root {
  --primary: #666665;
  --secondary: #5d5d5d;
  --black: rgb(0, 0, 0);

}

body {
  font-family:'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn:hover {
  background-color: #000000;
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

/* Header Styles */
header {
  top: 0;
  width: 100%

}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  
}

header .nav-links a {
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

header .nav-links a:hover {
  font-size: 1.3rem;
  opacity: 0.8;
  text-decoration: underline;
  width: 100%;
  text-decoration-color: var(--ourRed);
  
}
header .nav-links .btn{
  padding-right: 20px;
  color: var(--ourSilver);
  text-transform: none;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
header .nav-links .btn:hover{
  font-size: 1.25rem;
  opacity: 0.8;
  text-decoration: underline;
  width: 100%;
  text-decoration-color: var(--ourRed);
}

header .brand{
  display: block;

}
header .brand .Logo{
  width: 100px; 
  display: block; 
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;

}

header .nav-links a{
  display: inline-block;
  margin-right: 30px;
  transition: all 0.3s ease;
  
}
.loginBtn{
  background-color: var(--ourNavy); 
  border: none;
  color: var(--ourSilver);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;

}
  .loginBtn:hover{
    opacity: 0.8;
}